# 忽略一切文件
*
# 除了 .gitignore
!.gitignore
# 除了目录
!*/
# .cpp
!*.cpp
# .c
!*.c
# .h
!*.h
# Makefile
!Makefile*
!/*.md
!www/*
!nlohmann/*


# directory
xtests
tests
test
lib

# Compiled Object files
*.o
*.slo
*.lo
*.ko
*.obj
*.elf
*.d
*.sho

# Precompiled Headers
*.in
*.gch
*.pch

# Compiled libraries
*.dylib
*.dll
*.so
*.lib
*.a
*.la
*.lo
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# DDS
*.log.*
*.tlog
